{%- comment -%} VERSION: 0.0.3 Please do not delete this line. {%- endcomment -%}
{%- liquid
	assign products_per_page = section.settings.products_per_page
	assign boost_translations = shop.metafields.boostpfs-settings.labelTranslations
	assign current_locale = request.locale.iso_code
	assign primary_locale = current_locale
	for locale in shop.published_locales
		if locale.primary
			assign primary_locale = locale.iso_code
			break
		endif
	endfor
	assign label_toolbar_viewas = boost_translations[current_locale].defaultTheme.toolbarViewAs | default:  boost_translations[primary_locale].defaultTheme.toolbarViewAs | escape
	assign label_items_with_count_one = boost_translations[current_locale].defaultTheme.toolbarProduct | default:  boost_translations[primary_locale].defaultTheme.toolbarProduct | escape
	assign label_items_with_count_other = boost_translations[current_locale].defaultTheme.toolbarProducts | default:  boost_translations[primary_locale].defaultTheme.toolbarProducts | escape
	assign label_sale = boost_translations[current_locale].defaultTheme.productItemSale | default:  boost_translations[primary_locale].defaultTheme.productItemSale | escape
	assign label_soldout = boost_translations[current_locale].defaultTheme.productItemSoldOut | default:  boost_translations[primary_locale].defaultTheme.productItemSoldOut | escape
	assign label_from = boost_translations[current_locale].defaultTheme.productItemFrom | default:  boost_translations[primary_locale].defaultTheme.productItemFrom | escape
	assign switch_layout_filter = section.settings.switch_layout_filter
	assign enable_filter_sticky = section.settings.enable_filter_sticky
	assign toolbar_filter_sticky_mobile = section.settings.toolbar_filter_sticky_mobile
	assign filter_layout = section.settings.filter_layout
	assign layout_type = section.settings.layout_type
	assign show_toolbar_view_as = section.settings.show_toolbar_view_as
	assign show_toolbar_product_count = section.settings.show_toolbar_product_count
	assign show_toolbar_sort_by = section.settings.show_toolbar_sort_by
	assign show_toolbar_view_as_mobile = section.settings.show_toolbar_view_as_mobile
	assign show_toolbar_product_count_mobile = section.settings.show_toolbar_product_count_mobile
	assign show_toolbar_sort_by_mobile = section.settings.show_toolbar_sort_by_mobile
	assign view_as_type = section.settings.view_as_type
	assign products_per_row = section.settings.products_per_row
	assign products_per_row_mobile = section.settings.products_per_row_mobile
	assign show_details_when_hovering = section.settings.show_details_when_hovering
	assign show_vendor = section.settings.show_vendor
	assign show_price = section.settings.show_price
	assign show_sold_out_label = section.settings.show_sold_out_label
	assign show_sale_label = section.settings.show_sale_label
	assign show_sale_percent = section.settings.show_sale_percent
	assign product_label_type = section.settings.product_label_type
	assign product_label_has_border_radius = section.settings.product_label_has_border_radius
	assign active_image_swap = section.settings.active_image_swap
	assign show_product_review = section.settings.show_product_review
	assign display_item_swatch = section.settings.display_item_swatch
	assign swatch_color_display_type = section.settings.swatch_color_display_type
	assign swatch_color_event_change_image = section.settings.swatch_color_event_change_image
	assign swatches_color_shape = section.settings.swatches_color_shape
	assign display_item_swatch_size = section.settings.display_item_swatch_size
	assign equal_height = section.settings.equal_height
	assign ratio_width_height_other = section.settings.ratio_width_height_other
	assign equal_height_crop_image_position = section.settings.equal_height_crop_image_position
	assign show_label_by_tag = section.settings.show_label_by_tag
	assign show_product_label_image = section.settings.show_product_label_image
	assign product_label_image_sale = section.settings.product_label_image_sale
	assign product_label_image_sold_out = section.settings.product_label_image_sold_out
	assign product_item_type = section.settings.product_item_type
-%}

{% capture products_item_settings %}
	{% if section.settings.equal_height == 'auto' %}boost-pfs-filter-product-item-equal-height-auto {% endif %} {% if section.settings.show_item_swatch_tooltip %}boost-pfs-filter-product-item-show-swatch-tooltip {% endif %} {% if section.settings.show_product_label_image %}boost-pfs-filter-product-item-label-use-img{% endif %} boost-pfs-filter-product-item-label-type-{{ section.settings.product_label_type }} {% if section.settings.product_label_has_border_radius %} boost-pfs-filter-product-item-label-has-border{% endif %} boost-pfs-filter-product-item-show-details-{{ section.settings.show_details_when_hovering }} boost-pfs-filter-product-item-layout-{{ section.settings.product_item_layout }} boost-pfs-filter-product-item-label-{{ section.settings.product_item_label_position }} boost-pfs-filter-product-item-{{ section.settings.swatch_color_display_type }} boost-pfs-filter-swatch-shape-{{ section.settings.swatches_color_shape}} boost-pfs-filter-product-item-text-alignment-{{ section.settings.text_alignment}}  
{% endcapture %}

{%- paginate collection.products by products_per_page -%}


<style>
{% if section.settings.product_item_title_color != blank or section.settings.product_item_title_font_size != blank  %}
.boost-pfs-filter-product-item-title {
	{% if section.settings.product_item_title_color != blank %}
			color: {{ section.settings.product_item_title_color }};
	{% endif %}

	{% if section.settings.product_item_title_font != blank %}
	{% assign product_item_title_font = section.settings.product_item_title_font %}
	font-family: "{{ product_item_title_font.family }}", {{ product_item_title_font.fallback_families }};
	font-weight: {{ product_item_title_font.weight }};
	font-style: {{ product_item_title_font.style }};
	{% endif %}

	{% if section.settings.product_item_title_font_size != blank %}
	font-size: {{ section.settings.product_item_title_font_size }}px;
	{% endif %}
}
{% endif %}

{% if section.settings.product_item_vendor_color != blank or section.settings.product_item_vendor_font_size != blank  %}
.boost-pfs-filter-product-item-vendor {
	{% if section.settings.product_item_vendor_color != blank %}
	color: {{ section.settings.product_item_vendor_color }};
	{% endif %}

	{% if section.settings.product_item_vendor_font != blank %}
	{% assign product_item_vendor_font = section.settings.product_item_vendor_font %}
	font-family: "{{ product_item_vendor_font.family }}", {{ product_item_vendor_font.fallback_families }};
	font-weight: {{ product_item_vendor_font.weight }};
	font-style: {{ product_item_vendor_font.style }};
	{% endif %}

	{% if section.settings.product_item_vendor_font_size != blank %}
	font-size: {{ section.settings.product_item_vendor_font_size }}px;
	{% endif %}
}
{% endif %}
{% if section.settings.product_item_price_color != blank or section.settings.product_item_price_font_size != blank  %}
.boost-pfs-filter-product-item-price {
	{% if section.settings.product_item_price_color != blank %}
	color: {{ section.settings.product_item_price_color }};
	{% endif %}

	{% if section.settings.product_item_price_font != blank %}
	{% assign product_item_price_font = section.settings.product_item_price_font %}
	font-family: "{{ product_item_price_font.family }}", {{ product_item_price_font.fallback_families }};
	font-weight: {{ product_item_price_font.weight }};
	font-style: {{ product_item_price_font.style }};
	{% endif %}

	{% if section.settings.product_item_price_font_size != blank %}
	font-size: {{ section.settings.product_item_price_font_size }}px;
	{% endif %}
}
{% endif %}

{% if section.settings.product_item_old_price_color != blank %}
.boost-pfs-filter-product-item-price s {
    color: {{ section.settings.product_item_old_price_color }};
}
{% endif %}

{% if section.settings.product_item_sale_price_color != blank %}
.boost-pfs-filter-product-item-price .boost-pfs-filter-product-item-sale-price {
  	color: {{ section.settings.product_item_sale_price_color }};
}
{% endif %}

{% if section.settings.product_item_des_color != blank or section.settings.product_item_des_font_size != blank %}
.boost-pfs-filter-product-item-list .boost-pfs-filter-des {
	{% if section.settings.product_item_des_color != blank %}
	color: {{ section.settings.product_item_des_color }};
	{% endif %}

	{% if section.settings.product_item_des_font != blank %}
	{% assign product_item_des_font = section.settings.product_item_des_font %}
	font-family: "{{ product_item_des_font.family }}", {{ product_item_des_font.fallback_families }};
	font-weight: {{ product_item_des_font.weight }};
	font-style: {{ product_item_des_font.style }};
	{% endif %}

	{% if section.settings.product_item_des_font_size != blank %}
	font-size: {{ section.settings.product_item_des_font_size }}px;
	{% endif %}
}
{% endif %}

{% if section.settings.product_item_label_bg_color != blank or section.settings.product_item_label_text_color != blank %}
.boost-pfs-filter-product-item-label .sale,
.boost-pfs-filter-product-item-label .tag {
	color: #ff0;
	{% if section.settings.product_item_label_bg_color != blank %}
	background-color: {{ section.settings.product_item_label_bg_color }};
	{% endif %}

	{% if section.settings.product_item_label_text_color != blank %}
	color: {{ section.settings.product_item_label_text_color }};
	{% endif %}
}
{% endif %}
</style>


<div class="sortby-hide" >
	<div class="sortby-sp">

		<div class="close">
			<a href="javascipt:void(0);" class="close-filter"><svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M1 1L15.75 15.75" stroke="#BEB9B1" stroke-linecap="round"/>
				<path d="M15.75 1L0.999999 15.75" stroke="#BEB9B1" stroke-linecap="round"/>
				</svg>
				</a>
		</div>
		<div class="title">Sort By:</div>
		<ul class="" >
			<li class="active"><a href="#" data-sort="manual">Manual</a></li>
			<li><a href="javascript:void(0);" data-sort="best-selling" class="">Most Popular</a></li>
			<li><a  href="javascript:void(0);" data-sort="created-ascending" class="">New Last</a></li>
			<li><a  href="javascript:void(0);" data-sort="created-descending" class="">Created descending</a></li>
			<li><a  href="javascript:void(0);" data-sort="title-ascending" class="">New First</a></li>
			<li><a  href="javascript:void(0);" data-sort="price-descending" class="">Highest Price</a></li>
			<li><a  href="javascript:void(0);" data-sort="price-ascending" class="">Lowest Price</a></li>
			<li><a  href="javascript:void(0);" data-sort="extra-sort1-ascending" class="">Product Type</a></li>
		</ul>
		<div class="line"></div>
	</div>
</div>

{%- comment -%} TOOLBAR TOP MOBILE {%- endcomment -%}
<div class="boost-pfs-filter-toolbar-top-mobile {% if hide_toolbar_sort_by_mobile %} boost-pfs-filter-toolbar-top-mobile-hide-sort-by {% endif %} {% if toolbar_filter_sticky_mobile %}boost-pfs-filter-toolbar-sticky-mobile{% endif %}">

</div>
{%- comment -%} END TOOLBAR TOP MOBILE {%- endcomment -%}

{%- comment -%} TOOLBAR {%- endcomment -%}
<div class="boost-pfs-filter-default-toolbar {% if show_toolbar_view_as_mobile == false %} boost-pfs-filter-toolbar-top-mobile-hide-view-as {% endif %} {% if show_toolbar_product_count_mobile == false %} boost-pfs-filter-toolbar-top-mobile-hide-product-count {% endif %}">
	<div class="boost-pfs-container-default-{{ layout_type }} boost-pfs-filter-default-toolbar-inner">
	<div class="boost-pfs-filter-toolbar-top-mobile-inner {% if show_toolbar_sort_by_mobile %} boost-pfs-filter-toolbar-show-sort-by-mobile {% endif %}">
			<div class="boost-pfs-filter-tree-mobile-button">
				<button>
					<svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<line y1="3.5" x2="23" y2="3.5" stroke="#080C22"></line>
						<line y1="15.5" x2="23" y2="15.5" stroke="#080C22"></line>
						<circle cx="7" cy="4" r="3.5" fill="#FFFEF9" stroke="#080C22"></circle>
						<circle cx="15" cy="16" r="3.5" fill="#FFFEF9" stroke="#080C22"></circle>
						</svg>
				</button>
			</div>
	</div>
	{%- if show_toolbar_product_count -%}
	<div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-count">
		<span class="boost-pfs-filter-total-product">{%- render 'boost-pfs-filter-skeleton', width: 1 -%}</span>
		<span class="remove-filter-all hide">Clear Filters</span> 
	</div>
{%- endif -%}
    {% if show_toolbar_view_as or filter_layout == 'filter_layout_collapse' or filter_layout == 'filter_layout_slide'  %}
		<div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-type boost-pfs-filter-{{ view_as_type }}">
			{% if filter_layout == 'filter_layout_collapse' or filter_layout == 'filter_layout_slide'  %}
			<button class="boost-pfs-filter-custom-filter-button"> 
				<span>Filter</span>
			</button>
			{% endif %}
			{%- if show_toolbar_view_as -%}
				<div class="boost-pfs-filter-top-display-type">{%- render 'boost-pfs-filter-skeleton', width: 2 -%}</div>
			{%- endif -%}
		</div>
    {%- endif -%}
  
 
	</div>
</div>
{%- comment -%} END TOOLBAR {%- endcomment -%}

<div class="boost-pfs-filter-wrapper {% if enable_filter_sticky %} boost-pfs-filter-tree-h-sticky-filter {% endif %} {% if filter_layout == 'filter_layout_collapse' %}boost-pfs-filter-layout-collapse {% endif %} {% if filter_layout == 'filter_layout_slide' %}boost-pfs-filter-layout-slide {% endif %}">
	{%- if switch_layout_filter == 'switch_layout_filter_horizontal' -%}
	<div class="boost-pfs-filter-tree-h-wrapper">
		<div class="boost-pfs-container-default-{{ layout_type }}">
			<div class="boost-pfs-filter-tree boost-pfs-filter-tree-h" data-is-desktop>
				{%- render 'boost-pfs-filter-skeleton', type: 'filter-tree-h' -%}
			</div>
		</div>
	</div>
	<div class="boost-pfs-container-default-{{ layout_type }}">
		<div class="boost-pfs-filter-refine-by-wrapper-h"></div>
	</div>
	{%- endif -%}
	<div class="boost-pfs-container-default-{{ layout_type }}">
		{%- if switch_layout_filter == 'switch_layout_filter_horizontal' -%}
		<div class="boost-pfs-filter-tree boost-pfs-filter-tree-v" data-is-mobile></div>
		{%- endif -%}

		{%- if switch_layout_filter != 'switch_layout_filter_horizontal' and filter_layout == 'filter_layout_slide' -%}
		<div class="boost-pfs-filter-custom-drawer-overlay"></div>
		{%- endif -%}

		{%- if switch_layout_filter != 'switch_layout_filter_horizontal' -%}
		<div class="boost-pfs-filter-left-col boost-pfs-filter-left-col_new">
			<div class="boost-pfs-filter-left-custom">
				<div class="boost-pfs-filter-left-col-inner">
					{%- if filter_layout == 'filter_layout_slide' -%}
					<div class="boost-pfs-filter-custom-drawer-close"></div>
					{% endif %}
					<div class="boost-pfs-filter-tree boost-pfs-filter-tree-v">
						{% render 'boost-pfs-filter-skeleton', type: 'filter-tree' %}
					
					</div>

				</div>
	
              {% comment %}
				{%- if show_toolbar_product_count -%}
                  <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-count">
                      <div class="border-line"></div>
                      <span class="boost-pfs-filter-total-product">{%- render 'boost-pfs-filter-skeleton', width: 1 -%}</span>
                      <span class="remove-filter-all hide">Clear Filters</span> 
                  </div>
				{%- endif -%}
              {% endcomment %}
			</div>
		
          <div class="desktop_collection_name_new">
              <h1 class="boost-pfs-filter-collection-header">
                  <span role="text">
                      {{ collection.title }}
                  </span>
              </h1>
              {%- if collection.description != blank -%}
              <div class="boost-pfs-filter-collection-description rte">
                  {% if collection.metafields.collection.subtitle.size > 0 %}
                      {{ collection.metafields.collection.subtitle }}
                  {% else %}
                      {{ collection.description }}
                  {% endif %}
              </div>
              {%- endif -%}
          </div>
          <div class="desktop_collection_name_right_new">
          	{%- if show_toolbar_product_count -%}
                  <div class="boost-pfs-filter-toolbar-item boost-pfs-filter-toolbar-count">
                      <div class="border-line"></div>
                      <span class="boost-pfs-filter-total-product">{%- render 'boost-pfs-filter-skeleton', width: 1 -%}</span>
                      <span class="remove-filter-all hide">Clear Filters</span> 
                  </div>
				{%- endif -%}
			{%- if show_toolbar_sort_by -%}
				<div class="boost-pfs-filter-toolbar-item boost-pfs-filter-custom-sorting boost-pfs-filter-top-sorting">{%- render 'boost-pfs-filter-skeleton', width: 1 -%}</div>
		    {%- endif -%}
          </div>
		</div>
		{%- endif -%}
		
		{%- if switch_layout_filter != 'switch_layout_filter_horizontal' -%}
		<div class="boost-pfs-filter-right-col">
		{%- endif -%}
			<div class="boost-pfs-filter-products {{ products_item_settings }}">
				{%- for product in collection.products -%}
					{%- render 'boost-pfs-filter-product-item',
						product: product,
						products_per_row: products_per_row,
						products_per_row_mobile: products_per_row_mobile,
						show_details_when_hovering: show_details_when_hovering,
						show_vendor: show_vendor,
						show_price: show_price,
						show_sold_out_label: show_sold_out_label,
						show_sale_label: show_sale_label,
						show_sale_percent: show_sale_percent,
						product_label_type: product_label_type,
						product_label_has_border_radius: product_label_has_border_radius,
						active_image_swap: active_image_swap,
						show_product_review: show_product_review,
						display_item_swatch: display_item_swatch,
						swatch_color_display_type: swatch_color_display_type,
						swatch_color_event_change_image: swatch_color_event_change_image,
						swatches_color_shape: swatches_color_shape,
						display_item_swatch_size: display_item_swatch_size,
						equal_height: equal_height,
						ratio_width_height_other: ratio_width_height_other,
						equal_height_crop_image_position: equal_height_crop_image_position,
						show_label_by_tag: show_label_by_tag,
						show_product_label_image: show_product_label_image,
						product_label_image_sale: product_label_image_sale,
						product_label_image_sold_out: product_label_image_sold_out,
						product_item_type: product_item_type,
						label_soldout: label_soldout,
						label_sale: label_sale,
						label_from: label_from,
						label_toolbar_viewas: label_toolbar_viewas,
						label_items_with_count_one: label_items_with_count_one,
						label_items_with_count_other: label_items_with_count_other
					-%}
				{%- endfor -%}
			</div>
			

		{%- if switch_layout_filter != 'switch_layout_filter_horizontal' -%}
		</div>
		{%- endif -%}
	</div>
	{% if customer.id != blank %}
		<div class="yotpo-widget-instance" data-yotpo-instance-id="72790"></div>
	{% endif %}
	<div class="boost-pfs-filter-bottom-pagination boost-pfs-filter-bottom-pagination-default">
				{%- if paginate.pages > 1 -%}
				{%- render 'boost-pfs-filter-pagination' -%}
				{%- endif -%}
		</div>
	<div class="boost-pfs-filter-load-more"></div>
	{%- comment -%} start-bc-most-popular-template {%- endcomment -%}
	<div class="boost-pfs-most-popular-products-wrapper boost-pfs-widget-slider-wrapper boost-pfs-container-default-{{ layout_type }} {{ products_item_settings }}">
		{%- comment -%} <div class="boost-pfs-most-popular"></div> {%- endcomment -%}
	</div>
	{%- comment -%} end-bc-most-popular-template {%- endcomment -%}
	{%- comment -%} start-bc-recently-viewed-template {%- endcomment -%}
	<div class="boost-pfs-recent-products-wrapper boost-pfs-widget-slider-wrapper boost-pfs-container-default-{{ layout_type }} {{ products_item_settings }}">
		{%- comment -%} <div class="boost-pfs-recently-viewed"></div> {%- endcomment -%}
	</div>
	{%- comment -%} end-bc-recently-viewed-template {%- endcomment -%}

</div>
{%- endpaginate -%}

{%- render 'boost-pfs-theme-config',
	layout_type: layout_type,
	enable_filter_sticky: enable_filter_sticky,
	view_as_type: view_as_type,
	products_per_page: products_per_page,
	products_per_row: products_per_row,
	products_per_row_mobile: products_per_row_mobile,
	show_details_when_hovering: show_details_when_hovering,
	show_vendor: show_vendor,
	show_price: show_price,
	show_sold_out_label: show_sold_out_label,
	show_sale_label: show_sale_label,
  	show_sale_percent: show_sale_percent,
	product_label_type: product_label_type,
	product_label_has_border_radius: product_label_has_border_radius,
	active_image_swap: active_image_swap,
	show_product_review: show_product_review,
	display_item_swatch: display_item_swatch,
	swatch_color_display_type: swatch_color_display_type,
	swatch_color_event_change_image: swatch_color_event_change_image,
	swatches_color_shape: swatches_color_shape,
	display_item_swatch_size: display_item_swatch_size,
	equal_height: equal_height,
	ratio_width_height_other: ratio_width_height_other,
	equal_height_crop_image_position: equal_height_crop_image_position,
	show_label_by_tag: show_label_by_tag,
	show_product_label_image: show_product_label_image,
	product_label_image_sale: product_label_image_sale,
	product_label_image_sold_out: product_label_image_sold_out,
	product_item_type: product_item_type,
	label_soldout: label_soldout,
	label_sale: label_sale,
	label_from: label_from,
	label_toolbar_viewas: label_toolbar_viewas,
	label_items_with_count_one: label_items_with_count_one,
	label_items_with_count_other: label_items_with_count_other
-%}
<style>
	.yotpo-header-text,
	.yotpo-description-text,
	.yotpo-widget-referral-widget .yotpo-input-container .yotpo-input.boost-pfs-filter-collection-description,
	.yotpo-widget-referral-widget .yotpo-action-button-widget .yotpo-button-style span {
        font-family: neue-haas-grotesk-display,sans-serif !important;
		letter-spacing: .19em !important;
		text-transform: uppercase !important;
		font-style: normal !important;
		font-size: 14px !important;
    }
	.yotpo-widget-referral-widget .yotpo-title-text {
		font-family: "Frank Ruhl Libre", serif !important;
	}
	.yotpo-widget-referral-widget .yotpo-action-button-widget .yotpo-button-style {
		text-transform: uppercase;
		letter-spacing: .19em;
	}
	.yotpo-widget-referral-widget .yotpo-action-button-widget .yotpo-button-style {
		text-align: center !important;
		text-transform: uppercase !important;
		height: 50px !important;
		border-radius: 0 !important;
		max-width: 100% !important;
		background: #986473 !important;
		color: #fff !important;
		border: 0px !important;
		min-width: 150px !important;
    }
	.yotpo-widget-referral-widget .yotpo-tile{
		background-color: #FAF4EC !important;
		min-height: auto !important;
	}
	.yotpo-widget-referral-widget .yotpo-input-container .yotpo-input {
		border: 1px solid #986473;
	}
	.yotpo-widget-referral-widget .yotpo-tile-box {
		padding-top: 90px !important;
		padding-bottom: 70px !important;
	}
	.yotpo-widget-referral-widget .yotpo-background.yotpo-center-background {
		background-image: none !important;
   	 	background-color: #FAF4EC !important;
		height: auto !important; 
	}
	.yotpo-widget-referral-widget .yotpo-header-text {
		padding-bottom: 10px !important;
	}
	.yotpo-widget-referral-widget .yotpo-title-text {
		position: relative;
		font-size: 32px  !important;
		line-height: 38px  !important;
		padding-bottom: 60px  !important;
		text-transform
	}
	.yotpo-widget-referral-widget .yotpo-description-text {
		text-transform: capitalize  !important;
	}
	.yotpo-widget-referral-widget .yotpo-input-container .yotpo-input-example {
		display: none !important;
	}
	.yotpo-widget-referral-widget .yotpo-referral-widget-form {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	.yotpo-widget-referral-widget .yotpo-referral-widget-form .yotpo-action-button-widget.yotpo-customer-share-button {
		margin-top: 0px!important;
	}

	.yotpo-widget-referral-widget .yotpo-action-button-widget.yotpo-friends-share-button {
		margin-top: 0px !important;
		display: inline-block !important;
		width: 30% !important;
		position: relative !important;
		top: 0px !important;
		left: -12px !important;
	}
	.yotpo-inputs-container {
		text-align: left !important;
		display: inline-block !important;
		width: 59% !important;
		height: 54px;
	}
	.yotpo-widget-referral-widget .yotpo-title-text::after {
		content: '';
		position: absolute;
		width: 50px;
		height: 1px;
		background-color: #080C22;
		display: inline-block;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		top: 60px;
	}
	.yotpo-widget-referral-widget {
		margin-bottom: 50px !important;
	}
	.yotpo-widget-referral-widget .yotpo-share-buttons-container.yotpo-is-mobile {
		display: none !important;
	}
	@media (max-width: 768px) {
		.yotpo-widget-referral-widget .yotpo-referral-widget-form {
			display: block !important;
		}
		.yotpo-inputs-container {
			width: 100% !important;

		}
		.yotpo-widget-referral-widget .yotpo-action-button-widget .yotpo-button-style {
			width: 100% !important;
			margin-top: 8px !important;
		}
		.yotpo-widget-referral-widget .yotpo-tile-box {
			padding-top: 38px !important;
			padding-bottom: 20px !important;
			margin-left: 0px !important;
			margin-right: 0px !important;
		}
		.yotpo-widget-referral-widget .yotpo-share-buttons-container {
			display: none !important;
		}
		.yotpo-widget-referral-widget .yotpo-tile-box {
			width: 100% !important;
		}
		
		.yotpo-widget-referral-widget {
			padding-left: 15px;
			padding-right: 15px;
		}
		.yotpo-widget-referral-widget .yotpo-header-text {
			font-size: 11px !important;
		}
		.yotpo-widget-referral-widget .yotpo-title-text  {
			font-size: 26px !important;
			line-height: 34px !important;
		}
		.yotpo-widget-referral-widget .yotpo-description-text {
			font-size: 14px !important;
			line-height: 26px !important;
		}
		.yotpo-widget-referral-widget .yotpo-action-button-widget.yotpo-friends-share-button {
			width: 100% !important;
			left: 0 !important;
		}
		.yotpo-widget-referral-widget .yotpo-title-text {
			padding-bottom: 40px !important;
		}
		.yotpo-widget-referral-widget .yotpo-title-text::after {
			top: 50px;
		}
		.yotpo-widget-referral-widget .yotpo-action-button-widget .yotpo-button-style span {
			font-size: 11px !important;
		}
	}
	.yotpo-widget-referral-widget .yotpo-final-view .yotpo-title-text:after {
		top: 95px !important;
	}
	.yotpo-widget-referral-widget .yotpo-final-view  .yotpo-action-button-widget .yotpo-button-style {
		margin-top: 0px !important;
	}
</style>
