<div class="product-img--inner d-flex" id="image-group-slider" >
    <div class="prod-img-thumb">
      <div class="sliderThumb{% if product.media.size > 5 %} active-thumb{% endif %}">
        {%- for media in product.media -%}
          {% assign altText = media.alt | downcase | replace: 'color_', '' | replace: 'alphabet_', '' | replace: ' ', '' %}
          {% for option in product.options_with_values  %}
            {% assign option_name = option.name | downcase %}
            {% if option_name == 'alphabet' %}
                {% assign color_option_selected = option.selected_value | downcase | replace: ' ', '' %}
                {% break %}
            {% endif %}
            {% if option_name == 'color' %}
                {% assign color_option_selected = option.selected_value | downcase | replace: ' ', '' %}
            {% endif %}
          {% endfor %}
          
          {% if color_option_selected == altText %}
            {%- case media.media_type -%}
                {%- when 'image' -%}
                <div class="swiper-slide">
                    <img src="{{ media | img_url: '700x' }}" loading="lazy" alt="{{ media.alt }}">
                </div>
                {%- when 'video' -%}
                <div class="swiper-slide position-relative slider-video">
                    <img src="{{ 'icon-play-video.png' | asset_url }}" class="play-video" alt="">
                    <img src="{{ media.preview_image | img_url: '700x' }}" loading="lazy" class="preview-img-video" alt="{{ media.alt }}">
                </div>
            {%- endcase -%}
          {% endif %}
        {%- endfor -%}
      </div>
    </div>
  
    <div class="prod-img-main">
      <div class="sliderMain position-relative">
        {%- for media in product.media -%}
            {% assign altText = media.alt | downcase | replace: 'color_', '' | replace: 'alphabet_', '' | replace: ' ', '' %}
            {% for option in product.options_with_values  %}
                {% assign option_name = option.name | downcase %}
                {% if option_name == 'alphabet' %}
                    {% assign color_option_selected = option.selected_value | downcase | replace: ' ', '' %}
                    {% break %}
                {% endif %}
                {% if option_name == 'color' %}
                    {% assign color_option_selected = option.selected_value | downcase | replace: ' ', '' %}
                {% endif %}
            {% endfor %}
           
            {% if color_option_selected == altText %}
                {%- case media.media_type -%}
                {%- when 'image' -%}
                    <div class="swiper-slide">
                      <img src="{{ 'icon-zoom.svg' | asset_url }}" class="icon-zoom js-zoom" alt="">
                      <img src="{{ media | img_url: 'master' }}" class="img-prod" data-index="{{ forloop.index0 }}" loading="lazy" alt="{{ media.alt }}">
                    </div>
                {%- when 'video' -%}
                    <div class="swiper-slide position-relative slider-video">
                      {% assign html_video = media | video_tag %}
                      {% assign link_video = html_video | split: 'type="application/x-mpegURL">' | last | split: 'type="video/mp4">' | first | split: '<source' %}
                      <div class="js-playVideos">
                          <img src="{{ 'icon-play-video.png' | asset_url }}" class="play-video" alt=""/>
                      </div>
                      <video width="100%" preload="metadata" loop class="video">
                          <source {{ link_video }} type="video/mp4">
                      </video>
                    </div>
                {%- endcase -%}
            {% endif %}
        {%- endfor -%}
      </div>
    </div>
  </div>
  
  {%- if product.media.size < 6 -%}
    <style media="screen">
      .section-product .product-image .sliderThumb .slick-list:before{
        display: none;
      }
  
      .sliderThumb .slick-track{
        transform: translate3d(0px, 0px, 0px) !important;
      }
  
      /* .sliderThumb .slick-list{ height: auto !important} */
    </style>
  {%- endif -%}
  