{% schema %} 
{
    "name": "Product slider Mobile",
    "blocks": [{
        "name" : "Product slider Mobile",
        "type": "Hero",
        "settings": [
		{
            "type": "text",
            "id": "section-headline1",
            "label": "Enter the Section Title"
        },
		{
            "type": "text",
            "id": "section-subhead1",
            "label": "Enter the Section sub title"
        },
		{
            "type": "image_picker",
            "id": "prod1-img1",
            "label": "Upload product 1 image 1"
        },
		{
            "type": "image_picker",
            "id": "prod1-img2",
            "label": "Upload product 1 image 2"
        },
		{
            "type": "image_picker",
            "id": "prod1-img3",
            "label": "Upload product 1 image 3"
        },
		{
            "type": "text",
            "id": "prodname1",
            "label": "Enter product 1 Name"
        },
		{
            "type": "text",
            "id": "prodprice1",
            "label": "Enter product 1 price"
        },
		{
            "type": "image_picker",
            "id": "prod2-img1",
            "label": "Upload product 2 image 1"
        },
		{
            "type": "image_picker",
            "id": "prod2-img2",
            "label": "Upload product 2 image 2"
        },
		{
            "type": "image_picker",
            "id": "prod2-img3",
            "label": "Upload product 2 image 3"
        },
		{
            "type": "text",
            "id": "prodname2",
            "label": "Enter product 2 Name"
        },
		{
            "type": "text",
            "id": "prodprice2",
            "label": "Enter product 2 price"
        },
		{
            "type": "image_picker",
            "id": "prod3-img1",
            "label": "Upload product 3 image 1"
        },
		{
            "type": "image_picker",
            "id": "prod3-img2",
            "label": "Upload product 3 image 2"
        },
		{
            "type": "image_picker",
            "id": "prod3-img3",
            "label": "Upload product 3 image 3"
        },
		{
            "type": "text",
            "id": "prodname3",
            "label": "Enter product 3 Name"
        },
		{
            "type": "text",
            "id": "prodprice3",
            "label": "Enter product 3 price"
        },
		{
            "type": "image_picker",
            "id": "prod4-img1",
            "label": "Upload product 4 image 1"
        },
		{
            "type": "image_picker",
            "id": "prod4-img2",
            "label": "Upload product 4 image 2"
        },
		{
            "type": "image_picker",
            "id": "prod4-img3",
            "label": "Upload product 4 image 3"
        },
		{
            "type": "text",
            "id": "prodname4",
            "label": "Enter product 4 Name"
        },
		{
            "type": "text",
            "id": "prodprice4",
            "label": "Enter product 4 price"
        },
		{
            "type": "image_picker",
            "id": "prod5-img1",
            "label": "Upload product 5 image 1"
        },
		{
            "type": "image_picker",
            "id": "prod5-img2",
            "label": "Upload product 5 image 2"
        },
		{
            "type": "image_picker",
            "id": "prod5-img3",
            "label": "Upload product 5 image 3"
        },
		{
            "type": "text",
            "id": "prodname5",
            "label": "Enter product 5 Name"
        },
		{
            "type": "text",
            "id": "prodprice5",
            "label": "Enter product 5 price"
        },
		{
            "type": "image_picker",
            "id": "prod6-img1",
            "label": "Upload product 6 image 1"
        },
		{
            "type": "image_picker",
            "id": "prod6-img2",
            "label": "Upload product 6 image 2"
        },
		{
            "type": "image_picker",
            "id": "prod6-img3",
            "label": "Upload product 6 image 3"
        },
		{
            "type": "text",
            "id": "prodname6",
            "label": "Enter product 6 Name"
        },
		{
            "type": "text",
            "id": "prodprice6",
            "label": "Enter product 6 price"
        },
		{
            "type": "image_picker",
            "id": "prod7-img1",
            "label": "Upload product 7 image 1"
        },
		{
            "type": "image_picker",
            "id": "prod7-img2",
            "label": "Upload product 7 image 2"
        },
		{
            "type": "image_picker",
            "id": "prod7-img3",
            "label": "Upload product 7 image 3"
        },
		{
            "type": "text",
            "id": "prodname7",
            "label": "Enter product 7 Name"
        },
		{
            "type": "text",
            "id": "prodprice7",
            "label": "Enter product 7 price"
        },
		{
            "type": "image_picker",
            "id": "prod8-img1",
            "label": "Upload product 8 image 1"
        },
		{
            "type": "image_picker",
            "id": "prod8-img2",
            "label": "Upload product 8 image 2"
        },
		{
            "type": "image_picker",
            "id": "prod8-img3",
            "label": "Upload product 8 image 3"
        },
		{
            "type": "text",
            "id": "prodname8",
            "label": "Enter product 8 Name"
        },
		{
            "type": "text",
            "id": "prodprice8",
            "label": "Enter product 8 price"
        },
		{
            "type": "image_picker",
            "id": "prod9-img1",
            "label": "Upload product 9 image 1"
        },
		{
            "type": "image_picker",
            "id": "prod9-img2",
            "label": "Upload product 9 image 2"
        },
		{
            "type": "image_picker",
            "id": "prod9-img3",
            "label": "Upload product 9 image 3"
        },
		{
            "type": "text",
            "id": "prodname9",
            "label": "Enter product 9 Name"
        },
		{
            "type": "text",
            "id": "prodprice9",
            "label": "Enter product 9 price"
        },
		{
            "type": "image_picker",
            "id": "prod10-img1",
            "label": "Upload product 10 image 1"
        },
		{
            "type": "image_picker",
            "id": "prod10-img2",
            "label": "Upload product 10 image 2"
        },
		{
            "type": "image_picker",
            "id": "prod10-img3",
            "label": "Upload product 10 image 3"
        },
		{
            "type": "text",
            "id": "prodname10",
            "label": "Enter product 10 Name"
        },
		{
            "type": "text",
            "id": "prodprice10",
            "label": "Enter product 10 price"
        },
		{
            "type": "image_picker",
            "id": "prod11-img1",
            "label": "Upload product 11 image 1"
        },
		{
            "type": "image_picker",
            "id": "prod11-img2",
            "label": "Upload product 11 image 2"
        },
		{
            "type": "image_picker",
            "id": "prod11-img3",
            "label": "Upload product 11 image 3"
        },
		{
            "type": "text",
            "id": "prodname11",
            "label": "Enter product 11 Name"
        },
		{
            "type": "text",
            "id": "prodprice11",
            "label": "Enter product 11 price"
        },
		{
            "type": "image_picker",
            "id": "prod12-img1",
            "label": "Upload product 12 image 1"
        },
		{
            "type": "image_picker",
            "id": "prod12-img2",
            "label": "Upload product 12 image 2"
        },
		{
            "type": "image_picker",
            "id": "prod12-img3",
            "label": "Upload product 12 image 3"
        },
		{
            "type": "text",
            "id": "prodname12",
            "label": "Enter product 12 Name"
        },
		{
            "type": "text",
            "id": "prodprice12",
            "label": "Enter product 12 price"
       }
		
        ]       
    }
    ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% for block in section.blocks %}
    {% assign b = block.settings %}
    {% if b.page_handle contains page.handle %}
        <section {{ block.shopify_attributes }}>
           
          
          <p>{{ b.but-txt | p_url }}</p>
        </section>
    {% break %}
    {% endif %}
{% endfor %}

<div class="section5-sales-carousels">
	<div class="container">
      <div class="row">
		<div class="star-rate-cont2">
		<p class="rev-txt2">Over 4000 5-star reviews</p><img class="rev-stars2" src=
		"https://cdn.shopify.com/s/files/1/1957/2463/files/Group_1.png?v=1655986445"></div>
		<h2 class="sec-5-header">{{ b.section-headline1 | p_url }}</h2>
		<p class="sec5-body">{{ b.section-subhead1 | p_url }}</p>
      </div>
		<div class="row">
			<div class="col-sm">
				
					<div class="row">
						<div class="owl-carousel testerz2" id="prod-sliderm">
							<div class="item">
								<div class="slide-blocks">
									<div class="slide-box1">
										<div class="owl-carousel owl-theme" id="prod-1m">
											<div class="item"><img class="imgimg" src=
											"{{b.prod1-img1 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod1-img2 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod1-img3 | img_url: 'master' }}"></div>
										</div>
										<h3 class="prod-slide-title">{{ b.prodname1 | p_url }}</h3>
                                        <p class="prod-slide-body">{{ b.prodprice1 | p_url }}</p>
                                        {%- assign prod-slug = "alphabet-navy-everyday-pouch" -%}
                                        <!-- product options start -->
                                        <div class="product-option-group">
                                            {% assign prod_obj = all_products[prod-slug] %}
                                            <input type="hidden" value="{{prod_obj.selected_or_first_available_variant.id}}" class="prod-variant-id" id="mobile-prod-variant-id">
                                            
                                            {% for option in prod_obj.options %}
                                                {% render 'product-options-select', product: prod_obj, option_type: 'dropdowns', option_name: option %}
                                            {% endfor %}
                                            <script type="application/json" class="ProductJson">
                                                {{ prod_obj | json }}
                                            </script>
                                        </div>
                                        <!-- product options end -->
                                        {%- if prod_obj.tags contains "monogram" -%}
                                            <button type="button" class="pers-buttons" onclick="Monogram.launchModal(document.querySelector('#mobile-prod-variant-id').value, '{{ prod_obj.handle }}');">PERSONALISE</button>
                                        {%- endif -%}
                                        <form>
                                            <a class="ctaButton1m makeUrl1m sle-buttons" href=
											"https://www.elizabethscarlett.com/cart/add?id=39792416325721&quantity=1">ADD TO CART</a>
										</form>
									</div>
									<div class="slide-box1">
										<div class="owl-carousel owl-theme" id="prod-2m">
											<div class="item"><img class="imgimg" src=
											"{{b.prod2-img1 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod2-img2 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod2-img3 | img_url: 'master' }}"></div>
										</div>
                                        <h3 class="prod-slide-title">{{ b.prodname2 | p_url }}</h3>
                                        <p class="prod-slide-body">{{ b.prodprice2 | p_url }}</p>
                                        {%- assign prod-slug2 = "coming-mid-november-hummingbird-pouch" -%}
                                        <div class="product-option-group">
                                            {% assign prod_obj = all_products[prod-slug2] %}
                                            <input type="hidden" value="{{prod_obj.selected_or_first_available_variant.id}}" class="prod-variant-id" id="mobile-prod-variant-id2">
                                        </div>
                                        {%- if prod_obj.tags contains "monogram" -%}
                                            <button type="button" class="pers-buttons" onclick="Monogram.launchModal(document.querySelector('#mobile-prod-variant-id2').value, '{{ prod_obj.handle }}');">PERSONALISE</button>
                                        {%- endif -%}
                                        <form>
                                            <a class="ctaButton2m makeUrl2m sle-buttons" href=
											"https://www.elizabethscarlett.com/cart/add?id=39792397189209&quantity=1">ADD TO CART</a>
										</form>
									</div>
									
								</div>
								<div class="slide-blocks">
                                    <div class="slide-box1">
										<div class="owl-carousel owl-theme" id="prod-3m">
											<div class="item"><img class="imgimg" src=
											"{{b.prod3-img1 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod3-img2 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod3-img3 | img_url: 'master' }}"></div>
										</div>
                                        <h3 class="prod-slide-title">{{ b.prodname3 | p_url }}</h3>
                                        <p class="prod-slide-body">{{ b.prodprice3 | p_url }}</p>
                                        {%- assign prod-slug3 = "swimming-turtle-everyday-pouch" -%}{%- assign i = "3" -%}
                                        <div class="product-option-group">
                                            {% assign prod_obj = all_products[prod-slug3] %}
                                            <input type="hidden" value="{{prod_obj.selected_or_first_available_variant.id}}" class="prod-variant-id" id="mobile-prod-variant-id3">
                                        </div>
                                        {%- if prod_obj.tags contains "monogram" -%}
                                            <button type="button" class="pers-buttons" onclick="Monogram.launchModal(document.querySelector('#mobile-prod-variant-id3').value, '{{ prod_obj.handle }}');">PERSONALISE</button>
                                        {%- endif -%}
                                        <form>
                                            <a class="ctaButton3m makeUrl3m sle-buttons" href=
											"https://www.elizabethscarlett.com/cart/add?id=39792406528089&quantity=1">ADD TO CART</a>
										</form>
									</div>
									<div class="slide-box1">
										<div class="owl-carousel owl-theme" id="prod-4m">
											<div class="item"><img class="imgimg" src=
											"{{b.prod4-img1 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod4-img2 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod4-img3 | img_url: 'master' }}"></div>
										</div>
                                        <h3 class="prod-slide-title">{{ b.prodname4 | p_url }}</h3>
                                        <p class="prod-slide-body">{{ b.prodprice4 | p_url }}</p>
                                        {%- assign prod-slug4 = "tiger-apricot-velvet-everyday-pouch" -%}{%- assign i = "4" -%}
                                        <div class="product-option-group">
                                            {% assign prod_obj = all_products[prod-slug4] %}
                                            <input type="hidden" value="{{prod_obj.selected_or_first_available_variant.id}}" class="prod-variant-id" id="mobile-prod-variant-id4">
                                        </div>
                                        {%- if prod_obj.tags contains "monogram" -%}
                                            <button type="button" class="pers-buttons" onclick="Monogram.launchModal(document.querySelector('#mobile-prod-variant-id4').value, '{{ prod_obj.handle }}');">PERSONALISE</button>
                                        {%- endif -%}
                                        <form>
                                            <a class="ctaButton4m makeUrl4m sle-buttons" href=
                                            "https://www.elizabethscarlett.com/cart/add?id=39765267710041&quantity=1">ADD TO CART</a>
										</form>
									</div>
									
									
								</div>
							</div>
							<div class="item">
								<div class="slide-blocks">
                                    <div class="slide-box1">
										<div class="owl-carousel owl-theme" id="prod-5m">
											<div class="item"><img class="imgimg" src=
											"{{b.prod5-img1 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod5-img2 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod5-img3 | img_url: 'master' }}"></div>
										</div>
                                        <h3 class="prod-slide-title">{{ b.prodname5 | p_url }}</h3>
                                        <p class="prod-slide-body">{{ b.prodprice5 | p_url }}</p>
                                        {%- assign prod-slug5 = "bee-black-velvet-everyday-pouch" -%}{%- assign i = "5" -%}
                                        <div class="product-option-group">
                                            {% assign prod_obj = all_products[prod-slug5] %}
                                            <input type="hidden" value="{{prod_obj.selected_or_first_available_variant.id}}" class="prod-variant-id" id="mobile-prod-variant-id5">
                                        </div>
                                        {%- if prod_obj.tags contains "monogram" -%}
                                            <button type="button" class="pers-buttons" onclick="Monogram.launchModal(document.querySelector('#mobile-prod-variant-id5').value, '{{ prod_obj.handle }}');">PERSONALISE</button>
                                        {%- endif -%}
                                        <form>
                                            <a class="ctaButton5m makeUrl5m sle-buttons" href=
											"https://www.elizabethscarlett.com/cart/add?id=39792322805849&quantity=1">ADD TO CART</a>
										</form>
									</div>
                                    <div class="slide-box1">
										<div class="owl-carousel owl-theme" id="prod-6m">
											<div class="item"><img class="imgimg" src=
											"{{b.prod6-img1 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod6-img2 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod6-img3 | img_url: 'master' }}"></div>
										</div>
                                        <h3 class="prod-slide-title">{{ b.prodname6 | p_url }}</h3>
                                        <p class="prod-slide-body">{{ b.prodprice6 | p_url }}</p>
                                        {%- assign prod-slug6 = "bee-black-velvet-everyday-pouch" -%}{%- assign i = "6" -%}
                                        <div class="product-option-group">
                                            {% assign prod_obj = all_products[prod-slug6] %}
                                            <input type="hidden" value="{{prod_obj.selected_or_first_available_variant.id}}" class="prod-variant-id" id="mobile-prod-variant-id6">
                                        </div>
                                        {%- if prod_obj.tags contains "monogram" -%}
                                            <button type="button" class="pers-buttons" onclick="Monogram.launchModal(document.querySelector('#mobile-prod-variant-id6').value, '{{ prod_obj.handle }}');">PERSONALISE</button>
                                        {%- endif -%}
                                        <form>
                                            <a class="ctaButton6m makeUrl6m sle-buttons" href=
											"https://www.elizabethscarlett.com/cart/add?id=39480383471705&quantity=1">ADD TO CART</a>
										</form>
									</div>
								
								</div>
								<div class="slide-blocks">
                                    	<div class="slide-box1">
										<div class="owl-carousel owl-theme" id="prod-7m">
											<div class="item"><img class="imgimg" src=
											"{{b.prod7-img1 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod7-img2 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod7-img3 | img_url: 'master' }}"></div>
										</div>
                                        <h3 class="prod-slide-title">{{ b.prodname7 | p_url }}</h3>
                                        <p class="prod-slide-body">{{ b.prodprice7 | p_url }}</p>
                                        {%- assign prod-slug7 = "savanna-giraffe-travel-pouch" -%}{%- assign i = "7" -%}
                                        <div class="product-option-group">
                                            {% assign prod_obj = all_products[prod-slug7] %}
                                            <input type="hidden" value="{{prod_obj.selected_or_first_available_variant.id}}" class="prod-variant-id" id="mobile-prod-variant-id7">
                                        </div>
                                        {%- if prod_obj.tags contains "monogram" -%}
                                            <button type="button" class="pers-buttons" onclick="Monogram.launchModal(document.querySelector('#mobile-prod-variant-id7').value, '{{ prod_obj.handle }}');">PERSONALISE</button>
                                        {%- endif -%}
                                        <form>
                                            <a class="ctaButton7m makeUrl7m sle-buttons" href=
											"https://www.elizabethscarlett.com/cart/add?id=39792403742809&quantity=1">ADD TO CART</a>
										</form>
									</div>
									<div class="slide-box1">
										<div class="owl-carousel owl-theme" id="prod-8m">
											<div class="item"><img class="imgimg" src=
											"{{b.prod8-img1 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod8-img2 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod8-img3 | img_url: 'master' }}"></div>
										</div>
                                        <h3 class="prod-slide-title">{{ b.prodname8 | p_url }}</h3>
                                        <p class="prod-slide-body">{{ b.prodprice8 | p_url }}</p>
                                        {%- assign prod-slug8 = "pouch-for-purpose-milk-for-orphaned-elephants" -%}{%- assign i = "7" -%}
                                        <div class="product-option-group">
                                            {% assign prod_obj = all_products[prod-slug8] %}
                                            <input type="hidden" value="{{prod_obj.selected_or_first_available_variant.id}}" class="prod-variant-id" id="mobile-prod-variant-id8">
                                        </div>
                                        {%- if prod_obj.tags contains "monogram" -%}
                                            <button type="button" class="pers-buttons" onclick="Monogram.launchModal(document.querySelector('#mobile-prod-variant-id8').value, '{{ prod_obj.handle }}');">PERSONALISE</button>
                                        {%- endif -%}
                                        <form>
                                            <a class="ctaButton8m makeUrl8m sle-buttons" href=
											"https://www.elizabethscarlett.com/cart/add?id=39412739965017&quantity=1">ADD TO CART</a>
										</form>
									</div>
								
								</div>
							</div>
                            	<div class="item">
								<div class="slide-blocks">
                                     
									<div class="slide-box1">
										<div class="owl-carousel owl-theme" id="prod-9m">
											<div class="item"><img class="imgimg" src=
											"{{b.prod9-img1 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod9-img2 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod9-img3 | img_url: 'master' }}"></div>
										</div>
                                        <h3 class="prod-slide-title">{{ b.prodname9 | p_url }}</h3>
                                        <p class="prod-slide-body">{{ b.prodprice9 | p_url }}</p>
                                        {%- assign prod-slug9 = "pouch-for-purpose-milk-for-orphaned-elephants" -%}{%- assign i = "7" -%}
                                        <div class="product-option-group">
                                            {% assign prod_obj = all_products[prod-slug9] %}
                                            <input type="hidden" value="{{prod_obj.selected_or_first_available_variant.id}}" class="prod-variant-id" id="mobile-prod-variant-id9">
                                        </div>
                                        {%- if prod_obj.tags contains "monogram" -%}
                                            <button type="button" class="pers-buttons" onclick="Monogram.launchModal(document.querySelector('#mobile-prod-variant-id9').value, '{{ prod_obj.handle }}');">PERSONALISE</button>
                                        {%- endif -%}
                                        <form>
                                            <a class="ctaButton9m makeUrl9m sle-buttons" href=
											"https://www.elizabethscarlett.com/cart/add?id=39412739997785&quantity=1">ADD TO CART</a>
										</form>
									</div>
									<div class="slide-box1">
										<div class="owl-carousel owl-theme" id="prod-10m">
											<div class="item"><img class="imgimg" src=
											"{{b.prod10-img1 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod10-img2 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod10-img3 | img_url: 'master' }}"></div>
										</div>
                                        <h3 class="prod-slide-title">{{ b.prodname10 | p_url }}</h3>
                                        <p class="prod-slide-body">{{ b.prodprice10 | p_url }}</p>
                                        {%- assign prod-slug10 = "daisy-everyday-pouch" -%}{%- assign i = "7" -%}
                                        <div class="product-option-group">
                                            {% assign prod_obj = all_products[prod-slug10] %}
                                            <input type="hidden" value="{{prod_obj.selected_or_first_available_variant.id}}" class="prod-variant-id" id="mobile-prod-variant-id10">
                                        </div>
                                        {%- if prod_obj.tags contains "monogram" -%}
                                            <button type="button" class="pers-buttons" onclick="Monogram.launchModal(document.querySelector('#mobile-prod-variant-id10').value, '{{ prod_obj.handle }}');">PERSONALISE</button>
                                        {%- endif -%}
                                        <form>
                                            <a class="ctaButton10m makeUrl10m sle-buttons" href=
											"https://www.elizabethscarlett.com/cart/add?id=39810952921177&quantity=1">ADD TO CART</a>
										</form>
									</div>
								
								</div>
								<div class="slide-blocks">
                                  
									<div class="slide-box1">
										<div class="owl-carousel owl-theme" id="prod-11m">
											<div class="item"><img class="imgimg" src=
											"{{b.prod11-img1 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod11-img2 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod11-img3 | img_url: 'master' }}"></div>
										</div>
										<h3 class="prod-slide-title">{{ b.prodname11 | p_url }}</h3>
                                        <p class="prod-slide-body">{{ b.prodprice11 | p_url }}</p>
                                        {%- assign prod-slug11 = "dragonfly-moon-everyday-pouch" -%}{%- assign i = "7" -%}
                                        <div class="product-option-group">
                                            {% assign prod_obj = all_products[prod-slug11] %}
                                            <input type="hidden" value="{{prod_obj.selected_or_first_available_variant.id}}" class="prod-variant-id" id="mobile-prod-variant-id11">
                                        </div>
                                        {%- if prod_obj.tags contains "monogram" -%}
                                            <button type="button" class="pers-buttons" onclick="Monogram.launchModal(document.querySelector('#mobile-prod-variant-id11').value, '{{ prod_obj.handle }}');">PERSONALISE</button>
                                        {%- endif -%}
                                        <form>
                                            <a class="ctaButton11m makeUrl11m sle-buttons" href=
											"https://www.elizabethscarlett.com/cart/add?id=39810967175257&quantity=1">ADD TO CART</a>
										</form>
									</div>
									<div class="slide-box1">
										<div class="owl-carousel owl-theme" id="prod-12m">
											<div class="item"><img class="imgimg" src=
											"{{b.prod12-img1 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod12-img2 | img_url: 'master' }}"></div>
											<div class="item"><img class="imgimg" src=
											"{{b.prod12-img3 | img_url: 'master' }}"></div>
										</div>
                                        <h3 class="prod-slide-title">{{ b.prodname12 | p_url }}</h3>
                                        <p class="prod-slide-body">{{ b.prodprice12 | p_url }}</p>
                                        {%- assign prod-slug12 = "strawberry-moon-everyday-pouch" -%}{%- assign i = "7" -%}
                                        <div class="product-option-group">
                                            {% assign prod_obj = all_products[prod-slug12] %}
                                            <input type="hidden" value="{{prod_obj.selected_or_first_available_variant.id}}" class="prod-variant-id" id="mobile-prod-variant-id12">
                                        </div>
                                        {%- if prod_obj.tags contains "monogram" -%}
                                            <button type="button" class="pers-buttons" onclick="Monogram.launchModal(document.querySelector('#mobile-prod-variant-id12').value, '{{ prod_obj.handle }}');">PERSONALISE</button>
                                        {%- endif -%}
                                        <form>
                                            <a class="ctaButton12m makeUrl12m sle-buttons" href=
											"https://www.elizabethscarlett.com/cart/add?id=39811004465241&quantity=1">ADD TO CART</a>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="number-box" style="display:flex;">
						<div class="numbering">
							<span>Page</span>
						</div>
						<div class="slider-counter-mob"></div>
					</div>
				
			</div>
		</div>
	</div><!-- Section 6 - As Seen In Block -->
</div>
